/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after { //przechodzi do nowej linijki
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

*
{
	box-sizing: border-box;  //dopasowuje proporcje

}

body
{
	font-family: 'Lato', sans-serif;
	background-color: #000000;
}

a
{
    color: #ffffff;
}

img
{
    max-width: 100%;
    max-height: 100%;
}

input
{
	background-color: #efefef;
	border: 2px solid #ddd;
	width: 100%;
	color: 666;
	border-radius: 5px;
	font-size: 30px;
	padding: 2px;
	box-sizing: border-box;
	outline: none;
}

input:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
	background-color: #e9f3e9;
	border: 2px solid #a5cda5;
}

select
{
	background-color: #efefef;
	width: 150px;
	border: 2px solid #ddd;
	color: 666;
	border-radius: 5px;
	font-size: 15px;
	margin-top: 10px;

}

select:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,1);
	background-color: #e9f3e9;
	border: 2px solid #a5cda5;
}


.container
{
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 150px;
}

.header
{
	background-color: #db0000;
	color: #ffffff;
	margin-top: 30px;
	padding: 10px;
	border-radius: 5px;
	height: 120px;
	padding-right: 0px;
}

.middle
{
	border-top: ridge;
	margin-top: 20px;
	color: white;
	background-color: #564d4d;
  margin-top: 50px;
  padding:20px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-weight: 900;
	border-radius: 5px;
}

.footer
{
	margin-top: 50px;
	background-color: #831010;
	padding: 10px;
	border-radius: 5px;
}
.footerLink{
	font-size: 18px;
	padding: 20px;
	text-align: center;
}
.footerLink:hover{
	cursor: pointer;
	background-color: #000000;
}
.form
{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
}

.link
{
	background-color: #831010;
	margin-top: 15px;
	font-size: 18px;
	padding: 20px;
	opacity: 0.8;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
}

.link:hover
{
	cursor: pointer;
	background-color: #000000;
}

.title
{
	padding-bottom: 5px;
	font-size: 20px;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
		color: #ffffff;
}


#mainLogo
{
	height: 100px;
	float: left;
	border-radius: 5px;
	float: left;
}

#account
{
	padding-top: 30px;
	float: left;
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: 900;
}



#logo
{
	padding-right:20px;
	float: left;
	border-radius: 5px;
}

#m1up
{
	padding-top: 30px;
	padding-bottom: 30px;
}

#m1down
{
	padding-top: 30px;
}

#userPhoto
{
	width: 80px;
	height:80px;
	align: middle;
	border-radius: 5px;
	margin-top: 10px;
}

#pageTitle
{
	padding-top: 30px;
	display: inline-block;
	font-size: 28px;
	letter-spacing: 3px;
	font-weight: 900;
	vertical-align: top;
}
