body
{
	font-family: 'Lato', sans-serif;
	background-image: url("pinkdust.png");
}
.container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.header
{
	height: 100px;
	width: 1000px;
	background-color: #76b852;
	color: #ffffff;
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,1);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,1);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,1);
}

.footer
{
	margin-top: 50px;
	height: 80px;
	width: 998px;
	background-color: lightgrey;
	padding: 10px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,1);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,1);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,1);
	font-size: 22px;
	padding-top: 25px;
	padding-left: 15px;
}
#logo
{
	padding-right:20px;
	float: left;
}
#account
{
	padding-top: 30px;
	float: left;
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: 900;
}
#username{
	float: right;
	font-size: 22px;
	padding-top: 30px;
	padding-right: 20px;
}
#profIm{
	width: 100px;
	float: right;
}
.middle
{
	height: 700px;
	border-top: ridge;
	margin-top: 20px;
	color: white;
	background-color: #67bcdb;
	padding: 20px;
	width: 980px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-weight: 900;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,1);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,1);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,1);
}
.videoDescription{
	float:left;
	line-height: 35px;
	width: 250px;
	display:inline-block;
}
.videoPlay{
	text-align:center;
}
.mainVideo{
	display: date-state;
	controls;
	height: 350px;
}
.nextVideos{
	height: 300px;
	margin: 0 auto;
	text-align: center;
}
h3{
	text-align:left;
	padding-left: 50px;
	font-size:22px;
}
.nextOneVideo{
	width: 30%;
	margin-left: 1%;
	margin-right: 1%;
	display: inline-block;	
}
.nextSmallVideo{
	width: 300px;
	height: 168px;
	object-fit: cover;
}
.nextSmallImg{
	height: 150px;
	background-color: blue;
}
.title{
	height:50px;
	
}
img {
    max-width: 100%;
    max-height: 100%;
}
ul.links li{
	margin-right: 15px;
	margin-left: 15px;
	display:inline;
	border-button: dashed;
}
